<h1 class="text-center">Welcome on Wikinimous</h1>

<h2>Enjoy our newest anonymous articles:</h2>

<div class="row">
  <div class="col-sm-8">
    <% @articles.each do |article| %>
    <article>
      <h3><%= link_to article.title.capitalize, article_path(article)  %></h3>
      <p><%= article.teaser %></p>
    </article>
    <% end %>
  </div>
</div>

