<h1><%= @article.title.capitalize %>
<%= link_to 'ðŸ–‹ï¸', edit_article_path(@article) %>
<%= link_to "ðŸ—‘",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure to delete this article?" } %>
</h1>
<p><%= @article.content.capitalize %></p>
